<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="layout">
      <%= yield%>
    </div>
    <div>
      <br><a><%= "There are currently #{total_users} users with a total of #{total_interests} interests" %></a>
    </div>
  </body>
</html>